*{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

body{
    width: 100vw;
    height: 100vh;
    display:grid;
    place-items: center;
    background: black;
}

.fight{
    height: 100vh;
}

.background{
    height: 100%;
    position: relative;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%) translate(-17px);
    overflow: hidden;
}


.player{
    position: absolute;
    bottom: -20px;
    left: 0px;
    z-index : 1000;
    width: calc(100vh / 3);
}
.boss{
    position: absolute;
    bottom: -40px;
    left: 700px;
    z-index : 1000;
    width: calc(100vh / 2);
}

.healthbar{
    position: absolute;
    z-index: 1000;
    top: 10px;
    left : 10px;
    width : 25%;
    height : 20px;
    background : rgb(0, 34, 0);
}

.boss-healthbar{
    position: absolute;
    z-index: 1000;
    top: 10px;
    right : 10px;
    width : 25%;
    height : 20px;
    background : rgb(54, 0, 0);
    display:grid;
}

#player-health{
    background: green;
    width: 100%;
    height: 30px;
}
#boss-health{
    background: red;
    width: 100%;
    height: 30px;
    place-self: end;
}

.end{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index : 1000000;
    background: black;
    color: white;
    display: none;
    text-align: center;
    padding-top: 100px;
}

h2{
    font-size: 2rem;
    color: red;
}

h3{
    font-size: 2rem;
    color: lightgreen;
}
